<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.chenxins.invest.model.entity.mapper.InvestAssetsMapper" >
  <select id="getForHome" resultMap="AssetsHomeMap" >
    SELECT sum(a.end_value) as end_value,sum(a.end_value-a.start_value) as profit FROM `invest_assets` a
    where a.report_day=(SELECT max(report_day) FROM `invest_assets`) ;
  </select>
  <resultMap id="AssetsHomeMap" type="cn.chenxins.invest.model.json.HomePanelJson" >
    <result column="end_value" property="endValue" jdbcType="INTEGER" />
    <result column="profit" property="profit" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="BaseResultMap" type="cn.chenxins.invest.model.entity.InvestAssets" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="report_day" property="reportDay" jdbcType="VARCHAR" />
    <result column="start_value" property="startValue" jdbcType="REAL" />
    <result column="count" property="count" jdbcType="REAL" />
    <result column="unit_price" property="unitPrice" jdbcType="REAL" />
    <result column="end_value" property="endValue" jdbcType="REAL" />
    <result column="eventuate" property="eventuate" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
</mapper>